<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/theme_style.css">
    <title>404 Not Found</title>
</head>
<body>
    <div class="header">
        <div class="website-logo-container">
            <img src="/static/default/websiteLogo.png" alt="Website Logo"/>
        </div>
    </div>

    <div class="error-display">
        <h1>404</h1>
        <br><br>
        <p>Oops! The page you are looking for could not be found.</p>
        <br><br>
        <p>Contact website administrator if problem persists.</p>
        <br>
        <br>
        <a href="/" class="nav-btn-inverse">Go Home</a>
    </div>
</body>
</html>